img{
    width: 100%;
    height: auto;
}

.correct{
    color: rgba(111, 166, 121, 0.757);
}

.wrong{
    color: rgb(150,80,75);
}

.navbar{
    background-color: #c2c2b4;
}

.header {
    border-bottom: 5px solid #c2c2b4;
    font-style: italic;
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: bold;
}

.score {
    font-size: 24px;
    font-family: "Gill Sans", "sans-serif";
}

.back {
    font-size: 20px;
}

.book1 {
    padding-left: 40px;
}

.link {
    color: blue;
}

.btn-style{
    border-color: #c2c2b4;
    border-radius: 5pt;
    width: 110pt;
    background-color: #c2c2b4;
    color:rgba(255, 255, 255, 0.859) ;
}



