{% extends "layout.html" %}
{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'homepage.js') }}"></script>

<style>
    .home-title{
        font-size: 20pt;
        text-align: left;
    }
    .homepage{
        background-image: url('https://raw.githubusercontent.com/markwu372/coms4170final/main/data/images/homepage-title.jpeg');
        background-position: center;
        background-size: cover;
        height: 280pt;
    }
    .btn-style{
        border-color: #c2c2b4;
        border-radius: 5pt;
        width: 110pt;
        background-color: #c2c2b4;
        color:rgba(255, 255, 255, 0.859) ;
    }

</style>
<script>
    let homepage_data = {{homepage_data|tojson}}
</script>
<div>
    <div class="container-fluid">
        <div class="row homepage">
        </div>
        <div class="row">
            <div class="col-md-6">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

                <div class="home-title"> <b>What is photo composition?</b> </div>
                <br>
                <div class="row">
                    <div class="col-md-12" id="description">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

                <div class="home-title"> <b>Selected Composition Rules/Types</b> </div>
                <br>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-11" id="rules">
                    </div>
                </div>

            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-md-10"> </div>
            <div class="col-auto">
                <form action="lessons/1">
                    <input class="btn-style" type="submit" value="start">
                </form>                        
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
{% endblock %}