{% extends "layout.html" %}

{% block content %}

<style>

.lesson-title{
    font-size: larger;
    font-weight: bold;
    font-style: italic;
}

.btn-style{
        border-color: white;
        border-radius: 5pt;
        width: 110pt;
        
    }

.lesson-btns{
    display:inline-flex;
}
</style>


<script>
    var lessons_data = {{lessons_data|tojson}};
    $(document).ready(function(){
    $("#show_exp").click(function(event){
        $(".p1").empty();
        let p3 = $(" <img src={{lessons_data.p3}} alt='explanation 1'></img>");
        $(".p1").append(p3);
        $(".p2").empty();
        let p4 = $(" <img src={{lessons_data.p4}} alt='explanation 2'></img>");
        $(".p2").append(p4);
    })
    $("#show_ori").click(function(event){
        $(".p1").empty();
        let p1 = $(" <img alt='Example 1'></img>");
        p1.attr("src", "{{lessons_data.p1}}");
        $(".p1").append(p1);
        $(".p2").empty();
        let p2 = $(" <img alt='example 2'></img>");
        p2.attr("src", "{{lessons_data.p2}}");
        $(".p2").append(p2);
    })

    $(".next_btn").click(function(){
        if (lessons_data["lessons_id"] < 5){
            window.location.replace('/lessons/'+ lessons_data["next_lesson"]);
        }
        else{
            window.location.replace('/quiz/1');
        }
    })
    
    //get page load time Cite from the following page: https://tecadmin.net/get-current-date-time-javascript/
    let now = new Date();
    let date = now.getFullYear() + '-' + (now.getMonth()+1) + '-' + now.getDate();
    let time = now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds();
    let currentTime = date+' '+time;
    time_to_send = {
        "time": currentTime
    }
    $.ajax({
        type: "POST",
        url: "/../timestamp",
        dataType : "json",
        contentType: "application/json; charset=utf-8",
        data : JSON.stringify(time_to_send),
        success: function(item){

        },
        error: function(request, status, error){
            console.log("Error");
            console.log(request);
            console.log(status);
            console.log(error);
        }
    });
})

</script>
<script type="text/javascript" src="{{url_for('static', filename = 'lessons.js') }}"></script>
<div id="lessons">
</div>
<div class="container-fluid">
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-12 lesson-title">{{lessons_data.title}}</div>
    </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                {{lessons_data.description}}
            </div>
            
        </div>
        <br>
        <div class="row">
            <div class="col-md-6 p1">
                <img src={{lessons_data.p1}} alt="example 1">
            </div>
            <div  class="col-md-6 p2">
                <img src={{lessons_data.p2}} alt="example 2">
            </div>
        </div>
        <br>
        <div class="row">

            <div class="col-md-9"></div>
            <div class="col-md-3 lesson-btns">
                <button class="btn-style" id="show_exp">Explanation</button>
                <button class="btn-style" id="show_ori">Original</button>
            </div>
        </div>

        <br>
        <br>
        <br>
        


        <div class="row">
            <div class="col-md-10">

            </div>
            <div class="col-md-2">
                <button class="next_btn btn-style">Next</button>

            </div>

        </div>
        <br>
        <br>
        <br>
        <br>
        
    
</div>
{% endblock %}