{% extends "layout.html" %}
{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>
<script>
    let quiz_data = {{quiz_data|tojson}}
</script>


<style>
.animated-progress {
  width: 300px;
  height: 20px;
  border-radius: 5px;
  margin: 20px 10px;
  border: 1px solid #c2c2b4;
  overflow: hidden;
  position: relative;
}

.animated-progress span {
  height: 100%;
  display: block;
  width: 0;
  color: rgb(255, 251, 251);
  line-height: 30px;
  position: relative;
  text-align: center;
  padding-right: 5px;
}

.progress-blue span {
  background-color: #c2c2b4;
  line-height: 90%;
}

.quiz-title{
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
}

.btn-style{
        border-color: #c2c2b4;
        border-radius: 5pt;
        width: 110pt;
        background-color: #c2c2b4;
        color:rgba(255, 255, 255, 0.859) ;
    }

pre {
    padding-top: 0%;
    margin-top: 0%;
    display: inline;
    font-style: italic;
        color: gray;
        text-align: right;
    line-height: normal;
}

.quiz-btns{
    display:inline-flex;
    margin-left: 765px;
}

.aa{
    margin-left: 910px;
}


</style>

<div class="container-fluid">
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-md-8 quiz-title">{{quiz_data.title}}</div>
            <div class="col-md-4">
                <pre> Your Progress        </pre>
                <pre sytle="display:inline-flex;"> Question: {{quiz_data.quiz_id}}/6</pre>
                <div class="animated-progress progress-blue">
                    <span data-progress={{quiz_data.quiz_progress}}></span>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6 question">
                <img src={{quiz_data.img}} alt="question_image">
            </div>
            <div class="col-md-6">
                <form id="quizzes" name="quizzes">
                    <div>
                        <p>What rule(s) are applied to the photo on the left? Select all that apply</p>
                        <p id="rule_of_thirds"><input type="radio" name="q" value="rule_of_thirds"> Rules of Thirds</p>
                        <p id="leading_lines"><input type="radio" name="q" value="leading_lines">   Leading Lines</p>
                        <p id="balance"><input type="radio" name="q" value="balance" class="correct">  Balance</p>
                        <p id="diagonals"><input type="radio" name="q" value="diagonals">   Diagonals</p>
                        <p id="frames"><input type="radio" name="q" value="frames">  Frames</p>
                    </div>
                </form>
                <div id="feedback"> </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-8"></div>
            <br>

            <div class="col-md-4 quiz-btns">
                <button class="btn-style" id="show_hint">Hint</button>
                <button class="btn-style" id="show_answer" onclick="check(quizzes.q.value)">Submit Answer</button>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-md-10">

            </div>
            
            <div class="col-md-2">
                <button style="display: inline;" class="next_btn btn-style">Next</button>

            </div>

        </div>
        
</div>


{% endblock %}